{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% url 'css_file' %}">
    <title>Document</title>
</head>
<body>
    <div class="container-xxl my -md-4 bd-layout">
        <div class="bd-callout bd-callout-info">
            
            <strong>Testing to see what it does</strong>
            <button onclick align:left>your name: {{name}} </button>
            <button onclick align:left>your surname: {{surname}} </button>
            this shit work? idunno
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>


