{% include "plantilla.html" %}
{% block main %}
    <div class="main-banner" style="background-color: #cddc39;">
        <div class="row">
        <div class="col-lg-7">
            <div class="header-text">
            <h6>Bienvenidxs</h6>
            <h2>Soy Alan Amante actualmente estoy estudiando programacion backend y iniciandome en el frontend</h2>
            <div class="main-button">
                <a href="https://github.com/ArtMephist">GitHub</a>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}